
<app-frontend-header></app-frontend-header>
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="bradcam_text text-center">
          <h3>About Project</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->

<!-- Start Sample Area -->
<section class="sample-text-area">
<div class="container box_1170">
<h3 class="text-heading">About Airlines Reservation System</h3>
<p class="sample-text">
  The ticket, in either form, is required to obtain a boarding pass during check-in at the airport. Then with the boarding pass and the attached ticket, the passenger is allowed to board the aircraft. An airline ticket is a document or electronic record, issued by an airline or a travel agency, that confirms that an individual is entitled to a seat on a flight on an aircraft. The airline ticket may be one of two types: a paper ticket, which comprises coupons or vouchers; and an electronic ticket (commonly referred to as an e-ticket).
  A ticket is generally only good on the airline for which it was purchased. However, an airline can endorse the ticket, so that it may be accepted by other airlines, sometimes on a standby basis or with a confirmed seat. Usually the ticket is for a specific flight. It is also possible to purchase an 'open' ticket, which allows travel on any flight between the destinations listed on the ticket. The cost of this is greater than a ticket for a specific flight. Some tickets are refundable. However, the lower cost tickets are usually not refundable and may carry many additional restrictions.
  The ticket, in either form, is required to obtain a boarding pass during check-in at the airport. Then with the boarding pass and the attached ticket, the passenger is allowed to board the aircraft. An airline ticket is a document or electronic record, issued by an airline or a travel agency, that confirms that an individual is entitled to a seat on a flight on an aircraft. The airline ticket may be one of two types: a paper ticket, which comprises coupons or vouchers; and an electronic ticket (commonly referred to as an e-ticket).
</div>
</section>
<!-- End Sample Area -->
<app-frontend-footer></app-frontend-footer>