
<app-frontend-header></app-frontend-header>
<!-- bradcam_area  -->
<div class="myh">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="text-center">
          <h3 style="font-size: 21px;">All Categories</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ bradcam_area  -->

<!-- Start Sample Area -->
    <!-- service_area  -->
    <div class="service_area">
      <div class="container">
          <div class="row">
            <tr>
              <div class="col-md-6 col-lg-4" *ngFor="let category of categories | async">
                  <div class="single_service">
                      <div class="thumb">
                          <img src="http://127.0.0.1:8080/uploads/{{category.category_image_filename}}" alt="" style="height: 250px; width: 350px;">
                      </div>
                      <div class="service_info">
                          <h3><a routerLink="/vehicle/{{category.category_id}}">{{category.category_title}}</a></h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!--/ service_area  -->
<!-- End Sample Area -->
<app-frontend-footer></app-frontend-footer>