
<app-frontend-header></app-frontend-header>
<!-- bradcam_area  -->
<div class="myh">
   <div class="container">
     <div class="row">
       <div class="col-xl-12">
         <div class="text-center">
           <h3 style="font-size: 21px;">Items In Your Cart</h3>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!--/ bradcam_area  -->

   <!--================Vehicle Area =================-->
   <section class="vehicle_area single-post-area" style="padding: 50px 0px;">
    <div class="container">
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
         {{ errorMessage }}
     </div>
      <table id="cart" class="table table-hover">
         <thead class="thead-dark">
           <tr style="height: 42px; font-size: 14px; vertical-align: middle;"> 
              <th scope="col" style="width:3%">Sr. No.</th>
              <th style="width:50%">Vehicle</th>
              <th style="width:10%">Price</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
           </tr>
        </thead>
        <tbody>
           <tr *ngFor="let sellDetails of Sell; let i = index">
              <td style="text-align: center; font-size: 17px; font-weight: bold;">{{i+1}}</td>
              <td data-th="Vehicle">
                 <div class="row">
                    <div class="col-sm-2 hidden-xs"><img src="http://127.0.0.1:8080/uploads/{{sellDetails.vehicle_image}}" alt="..." style="height: 100px; width: 120px;" class="img-responsive"/></div>
                    <div class="col-sm-10">
                       <h4 class="nomargin">{{sellDetails.vehicle_name}}</h4>
                       <p>
                        {{ (sellDetails.vehicle_description.length>100)? (sellDetails.vehicle_description | slice:0:100)+'..':(sellDetails.vehicle_description) }}  
                       </p>
                    </div>
                 </div>
              </td>
              <td data-th="Price">{{sellDetails.sell_price_per_unit}}</td>

              <td data-th="Subtotal" class="text-center">{{sellDetails.sell_price_per_unit}}</td>
              <td class="actions" data-th="">
                 <button class="btn btn-danger btn-sm" (click)="delete(sellDetails.sell_id)"><i class="fa fa-trash-o"></i></button>								
              </td>
           </tr>
        </tbody>
        <tfoot>
           <tr class="visible-xs">
              <td class="text-center"><strong>Total 1.99</strong></td>
           </tr>
           <tr>
              <td><a (click)="continueShopping()" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center" style="color: red; font-size: 16px;"><strong>Total Cost :  {{totalCost}}.00/-</strong></td>
              <td><a (click)="payment()" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
           </tr>
        </tfoot>
     </table>
    </div>
 </section>
 <!--================ Vehicle Area end =================-->
<app-frontend-footer></app-frontend-footer>