<nav class="navbar-default navbar-side" role="navigation" style="height: 100%; margin-top: -20px;">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu" style="display: block !important;">
            <li>
                <a routerLink="/user/dashboard" class="active-menu waves-effect waves-dark"><i class="fa fa-desktop"></i>Dashboard</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/vehicle"><i class="fa fa-dashboard"></i> Airlines Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/route"><i class="fa fa-dashboard"></i> Route Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/city"><i class="fa fa-dashboard"></i> City Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/category"><i class="fa fa-dashboard"></i> Category Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/company"><i class="fa fa-dashboard"></i> Company Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/orders"><i class="fa fa-dashboard"></i> All Bookings</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/customer"><i class="fa fa-dashboard"></i> Customer Management</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/contact"><i class="fa fa-dashboard"></i> Contact Us Report</a>
            </li>
            <li>
                <a class="waves-effect waves-dark" routerLink="/admin/feedback"><i class="fa fa-dashboard"></i> Feedback Report</a>
            </li>
            <li>
                <a routerLink (click)="logout()" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i>Logout</a>
            </li>
        </ul>
    </div>
</nav>