  <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
      <div class="header-area ">
          <div class="header-top_area d-none d-lg-block">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-xl-4 col-lg-4">
                          <div class="logo">
                              <a href="index.html" style="font-size:23px; color:#000">
                                  <span class="ltr">A</span>irlines <span class="ltr">R</span>eservation <span class="ltr">S</span>ystem
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div id="sticky-header" class="main-header-area">
              <div class="container">
                  <div class="header_bottom_border">
                      <div class="row align-items-center">
                          <div class="col-12 d-block d-lg-none">
                              <div class="logo">
                                  <a href="index.html">
                                      <img src="/assets/froentend/img/logo.jpg" alt="">
                                  </a>
                              </div>
                          </div>
                          <div class="col-xl-12 col-lg-12">
                              <div class="main-menu  d-none d-lg-block">
                                  <nav>
                                      <ul id="navigation"  *ngIf="user_level_id !== '2'">
                                          <li><a routerLink="/" style="cursor: pointer;">home</a></li>
                                          <li><a routerLink="/about" style="cursor: pointer;">about</a></li>   
                                          <li><a routerLink="/vehicle" style="cursor: pointer;">Search Flight</a></li>      
                                          <li><a routerLink="/login" style="cursor: pointer;">Customer Login</a></li>
                                          <li><a routerLink="/register" style="cursor: pointer;">Registration</a></li>
                                          <li><a routerLink="/contact" style="cursor: pointer;">Contact</a></li>
                                          <li><a routerLink="/feedback" style="cursor: pointer;">Feedback</a></li>
                                      </ul>

                                      <ul id="navigation"  *ngIf="user_level_id === '2'">
                                        <li><a routerLink="/" style="cursor: pointer;">home</a></li>
                                        <li><a routerLink="/dashboard" style="cursor: pointer;">Dashboard</a></li>
                                        <li><a routerLink="/about" style="cursor: pointer;">About</a></li>
                                        <li><a routerLink="/vehicle" style="cursor: pointer;">Search Flight</a></li>    
                                        <li><a href="#">My Administration <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a routerLink="/order-report" style="cursor: pointer;">My Bookings</a></li>
                                                <li><a routerLink="/register" style="cursor: pointer;">My Account</a></li>
                                            </ul>
                                        </li>
                                        <li><a routerLink (click)="logout()" style="cursor: pointer;">Logout</a></li>
                                    </ul>
                                  </nav>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="mobile_menu d-block d-lg-none"></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </header>
  <!-- header-end -->